<!-- wp:template-part {"slug":"header","tagName":"header","theme":"mkagency"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group">

	<!-- wp:pattern {"slug":"mkagency/hero"} /-->
	<!-- wp:pattern {"slug":"mkagency/stats"} /-->
	<!-- wp:pattern {"slug":"mkagency/services"} /-->
	<!-- wp:pattern {"slug":"mkagency/portfolio"} /-->
	<!-- wp:pattern {"slug":"mkagency/testimonials"} /-->
	<!-- wp:pattern {"slug":"mkagency/cta"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"mkagency"} /-->
